<mat-card class="example-card example-box" cdkDragBoundary=".example-boundary" cdkDrag>
  <!-- <mat-card-header cdkDragHandle>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>
      
    </mat-card-subtitle>
  </mat-card-header> -->
  <mat-card-content>

          
          <!-- <mat-form-field class="example-full-width">
            <input matInput value="Search">
          </mat-form-field> -->
          <table class="example-full-width" cellspacing="0" style="min-width: 100% !important" cdkDragHandle>
            <tr>
              <td style="width: 100%; text-align: left;">    
                  <mat-form-field class="example-full-width" style="min-width: 70% !important; margin: 0px 10px;">
                    <input matInput placeholder="Search">
                  </mat-form-field>
                  <mat-icon class="example-icon">delete</mat-icon>
              </td>
              
            </tr>
          </table>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>