<mat-card class="example-card example-box" cdkDragBoundary=".example-boundary" cdkDrag>
  <mat-card-header cdkDragHandle>
    <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
    <!-- <mat-card-subtitle>
        
    </mat-card-subtitle> -->
    <a mat-button style="padding: 0px !important;min-width: 40px !important; left: -32px;">
        <mat-icon aria-label="Example icon-button with a heart icon" style="padding: 0px !important;">refresh</mat-icon>
    </a>
    <p style="padding-top: 10px;">
      page title will display here
    </p>
    <span class="example-spacer"></span>
    <a mat-button style="padding: 0px !important;min-width: 40px !important;">
        <i class="fa fa-circle-o" aria-hidden="true" style="color: red; font-size: 1.375em;"></i>
    </a>
    <a mat-button style="padding: 0px !important;min-width: 40px !important;">
        <mat-icon aria-label="Example icon-button with a heart icon" style="padding: 0px !important;">delete</mat-icon>
    </a>
  </mat-card-header>
  <mat-card-content>
      
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>